.testimonials{
  background: url("images/testimonials-bg.png") no-repeat left 0 ;
  background-size: 100%;
}

.testimonial-body{
  background-color: #04a5e7;
}

.testimonials .quote{
  color: #04a5e7;
}


.testimonial-text p{
  font-size: 16px !important;
}

.testimonials .testimonial-img{
  bottom: 90px;
  left: calc(50% - 50px);
  right: auto;
  border: 5px solid #ffffff;
}

.testimonials .carousel-control-prev-icon{
  position: absolute !important;
  bottom: 70px !important;
}

.testimonials .carousel-control-next-icon{
  position: absolute !important;
  bottom: 70px !important;
}


.carousel-inner{
    width:100%;
    max-height: calc(100vh - 100px) !important;
  }



  .carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-align: left !important;
    width: 36% !important;
    height: fit-content;
  }

  .carousel-caption h1{ text-transform: uppercase; font-size: 3rem; font-weight: 900;}

.productName{
    text-transform: uppercase;
    font-size: 1rem;
  }

  .SkyguardImage img{
    border-radius: 8px;
  }

  .why-aerial-item{
    display: grid;
    grid-template-columns: 96px 1fr;
    column-gap: 24px;  
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: transform .5s ease 0s;
    transition: transform .5s ease 0s;  
  }

  .why-aerial-item:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  .why-aerial-item .icon{
    border: 1px solid #00000030;
    color: #04a5e7;
    width: 96px;
    height: 96px;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
   }

   .why-aerial-item:hover .icon{
    transform: rotateY(180deg);
    border: 1px solid #04a5e7;
   }

  .why-aerial-item .name{
    color: #161513;
    display:flex;
    align-items: center;
    text-transform:capitalize !important;
   }



  .why-aerial-item .icon span{
   font-size: 3rem;  
  }

.navbar .navbar-nav .active{
position: relative;
color:#04a5e7 !important;

  }


.newsletter input[type="text"]{
  height: 52px;
  border-radius: 36px;
  padding-left:24px;
}


.newsletterBtn{
  border-radius: 0 36px 36px 0 !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
  background-color: #04a5e7 !important;
  color: #ffffff !important;
  border: none !important;
}

.newsletterBtn:hover{
  background-color: #038fc9 !important;
}


  .navbar .navbar-nav .active::before{
    content: "";
    width: 100%;
    display: block;
    height: 5px;
    background-color:#04a5e7 ;
    position: absolute;
    top: -30px;
    left: 0;
  }

  .contactBtn{
    font-size: .9rem !important;
    background-color: #04a5e7 !important;
    font-family: "Roboto", sans-serif;
    font-weight: 700 !important;
    border: none !important;
    line-height: 30px !important;
  }

  .contactBtn:hover{
    background-color: #038fc9 !important;
  }
  .contactUs .card:hover{
    background-color: #f8f9fa !important;
  }
  .contactUs .card .icon{
    border: 1px solid #00000030;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contactUs .card .icon span{
    color: #04a5e7;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .contactUs .card:hover .icon span{
  transform: rotateY(180deg);
  }

  
  .contactUs .card .icon:hover{
    border: 1px solid #04a5e7;
  }


  .ProdName{
    font-weight: bold;
  }
  .ProDesc{
    font-weight: 400;
    font-size: 12px !important;
  }

  .ProdAction{
    font-size: 12px !important;
  }

  .prodGetStarted{
    background-color: #04a5e7 !important;
    color: #ffffff !important;
    border: 1px solid #04a5e7 !important;
    font-weight: 500;
    font-size: 17px;
  }

  .prodGetStarted:hover{
    background-color: #038fc9 !important;
    color: #ffffff !important;
  }

  .card-text{
    font-size: 16px;
  }
  .card-subtitle{
    font-size: 16px;
    font-weight: 500;
    color: #8f8f94;
  }
  .card-title{
    font-size: 24px;
  }

  .team, .resent-post{
    background: url("images/bg-img.png") left top no-repeat, url("images/bg-img-right.png") right bottom no-repeat;
  }

  .team-card{
    cursor: pointer;
  }

  .team-card:hover{
    box-shadow: 0 0 20px #00000020 !important;
  }
  .resent-post .card-date{
    font-size: 16px;
    color: #77777d;
    font-weight: 700;
  }
  .resent-post .card-title{
    font-size: 24px;
    font-weight: 700;
  }
  .resent-post .card-link{
  color:#04a5e7;
  font-weight: 700;
}


  .missionCol h1{
    font-size: 42px;
    font-weight: 700;
  }

  .missionCol .getStarted{
    background-color: #04a5e7;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    border: none;
  }

  .missionCol .getStarted:hover{
    background-color: #038fc9 !important;
    color: #ffffff;
  }

  .section-title h1{
    font-size: 42px;
    font-weight: 700;

  }

  .section-subtitle{
    color: #038fc9 !important;
    font-size: 16px;
    font-weight: 700;
  }

  .bg-image{
    position: relative !important;
  }
  .card-img-container{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .commitments span{
    color: #04a5e7;
  }

  .commitments .card p{
    margin-bottom: 0;
  }


  .product-heading{
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .products .card{
    -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: transform .5s ease 0s;
  transition: transform .5s ease 0s;
  border-radius: 8px !important;
  }

  .products .card:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }


  .featureCard{
    background-color: #ffffff;
    min-height: 150px;
  }

.featureCard:hover{
  background-color: #04a5e7 !important;
  transition: background-color .5s linear;
  border: none;
  color: #ffffff;
}



.featuresOrder{
  display: flex;
  align-items: center;
  color:#04a5e7;
  column-gap: 10px;
}

.featureCard:hover .featuresOrder{color:#ffffff;}
.featureCard:hover .featuresOrder span{background-color:#ffffff;}

.featuresOrder span{
  display: block;
  height:4px;
  width: 50px;
  background-color: #04a5e7;
}




  .commitments .card{
    -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: transform .5s ease 0s;
  transition: transform .5s ease 0s;
  border-radius: 12px !important;
  }

  .commitments .card:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    background-color: #f8f9fa!important;
  }

  .commitments .card:hover .rounded-circle{border: 1px solid #04a5e7 !important;}
  .commitments .card span{
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }


  .commitments .card:hover span{
    transform: rotateY(180deg);
  }

  .prodImg img{
    transition: transform .5s;
  }

  .prodImg:hover img{
    transform: scale(1.3);
  }

  .rounded-icon{
    border:1px solid #00000030;
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .statastics .row h1{
    color: #04a5e7;
    font-size: 3.5rem;
  }

  .statastics .row div{
    border-right: 1px solid #c7e3ff ;
  }
  .statastics .row div:nth-child(3){
    border: none;
  }

  .why-aerial .bg-image .card-img-container img{
    transition: transform .5s;
  }

  .why-aerial .bg-image:hover .card-img-container img{
    transform: scale(1.3);
  }


 .post-card{
    overflow: hidden;
  }

 .post-card img{
    transition: transform .5s;
  }

.post-card:hover img{
    transform: scale(1.1);
  }

  
  .mission .mission-img{
    overflow: hidden;
  }

  .mission .mission-img img{
    transition: transform .5s;
  }
  .mission .mission-img:hover img{
    transform: scale(1.2);
  }

  .vision .vision-img{
    overflow: hidden;
  }

  .vision .vision-img img{
    transition: transform .5s;
  }
  .vision .vision-img:hover img{
    transform: scale(1.2);
  }

  .sectionGradient{
    background: rgb(237,243,234);
    background: linear-gradient(90deg, rgba(237,243,234,1) 0%, rgba(198,208,243,1) 60%, rgba(150,198,249,1) 100%);
  }
  .sectionGradient h1{ font-weight: 700; font-size: 42px;}

  .sectionGradient blockquote{
    font-family: 'Roboto';
    font-size: 200px;
    line-height: 100px;
  }

  .smallheading{
    font-weight: normal; font-size: 20px;
  }


  .policyHeader{
    background-color: #04a5e7;
  }

  .policyHeader h5{
    margin-bottom: 0;
  }

  .policy-big-Header h1{
    margin-bottom: 0;
  }

  .policy hr{
    border-bottom: 1px solid #b9b9b9;
  }

  .policyBody ol li{
    margin: 1rem;
  }

  .footer{
    background-color: #000000;
  }

  
  .footer .container .navlinks li{
    float: left;
    list-style: none;
}

.footer .container .navlinks{
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.footer .container .otherLinks li{
  float: left;
  list-style: none;
}

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* logo animation in css */



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f8f9fa);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f8f9fa);
}



.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.aboutBanner{
  padding: 0;
}
.aboutBanner img{padding: 0; width: 80% !important;}
.aboutImg img{
  border-radius: 8px;
}


/* end of logo animation in css */



  @media only screen and (max-width: 600px) {

    .navbar .navbar-nav .active::before{
      content: "";
      width: 100%;
      display: none;
      height: 5px;
      background-color:#04a5e7 ;
      position: absolute;
      top: -30px;
      left: 0;
    }

    .footer .container .navlinks{
      display: block !important;
    }

    .section-title h1, .missionCol h1, .sectionGradient h1 {font-size:32px}

    .testimonials{
      background: url("images/testimonials-bg.png") no-repeat left 0 ;
      background-size: cover;
    }

    .testimonials .carousel-inner{border-radius: 8px !important;}

    .vision .row div:nth-child(1){
      order: 2;
    }

    .why-aerial-item{
      display: grid;
      grid-template-columns: 64px 1fr;
      column-gap: 16px;
    }
    
    .why-aerial-item .icon{
      width: 64px;
      height: 64px;
    }

    .why-aerial-item .icon span{
      font-size: 2rem;
    }
    .navbar-brand img{
      height: 52px !important;
    }
   
  }

  
 